body {
  background-color: $main-color;
}

h1, h2, h3, 
h4, h5, h6 {
  font: {
    weight: 400;
  }
}

#coming-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  .letter-mark {
    &__wrap{
      border-bottom: white 5px solid;
      display: inline-block;      
    }
  }
  h1 {
    padding: 0 5px;
    display: inline-block;
    font-size: 102px;
    color: white;
    margin: 0;
  }
  h3 {
    font-size: 20px;
    display: inline-block;
    color: $main-color-light;
    margin: 0;
  }
  .caption{
    padding-top: 12px;
  }
}