
// set the box-sizing on all the things!
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $main-color;
}

h1, h2, h3, 
h4, h5, h6 {
  font: {
    weight: 400;
  }
}

p {
  font-weight: 200;
}

img {
  max-width: 100%;
}

.hero {
  position: relative;
  height: calc(100vh - 56px);
  background: {
    color: white;
    image: url('../images/train.jpg');
    size: cover;
    position: center center;
  }
  overflow: hidden;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: {
      color: transparentize(#4d4d4d, 0.7);
    }
  }
}

#my-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  text-align: center;
  width: 100%;
  h1, h3 {
    font-family: 'Biryani', Helvetica, sans-serif;
    color: white;
    text-align: center
  }
  h1 {
    font-size: 8vw;
    margin: 0;
  }
  h3 {
    font-size: 5vw;
    margin: 0;
  }
  .caption{
    padding-top: 12px;
  }
}

// ##################
// nav bar elements
// ##################
.intitial-mark {
  display: inline-block;
  font: { 
    size: 36px;
    weight: 700;
  }
  color: $main-color;
}

// mobile menu icon
.mobile-menu {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  span {
    float: right;
    clear: both;
    display: block;
    background-color: $main-color;
    height: 4px;
    margin-bottom: 4px;
    transition: all 200ms ease-in-out;
    &:first-child {
      width: 24px;
    }
    &:nth-child(2) {
      width: 16px;
    }
    &:nth-child(3) {
      width: 20px;
      margin: 0;
    }
  }
  &.menu-close {
    span{
      height: 2px;
      margin-bottom: 6px;
      &:first-child {
        transform: rotate(-45deg);
        transform-origin: top right;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        width: 24px;
        transform: rotate(45deg);
        transform-origin: bottom right;
      }
    }
  }
}

.nav-header {
  position: relative;
}

.nav-bar__spacer {
  position: relative;
  min-height: 56px;
  display: none;
}

.nav-bar {
  position: relative;
  min-height: 56px;
  z-index: 10;
  background-color: white;
  &.isFixed {
    box-shadow: 0px 5px 16px 0px transparentize($dark-gray, .9)
  }
  .row {
    margin-bottom: 0; // take off the margin for this row
  }
  .nav-body {
    .nav-links {
      list-style: none;
      opacity: 0;
      font-size: 0px;
      padding: 0;
      margin: 0;
      transition: font-size 100ms ease-in-out 200ms,
                  padding 100ms ease-in-out 200ms,
                  margin 100ms ease-in-out 200ms,
                  opacity 100ms ease-in-out;
      li {
        margin-bottom: 0;
        text-align: right;
        display: block;
      }
      a {
        display: inline-block;
        color: $main-color;
        font: {
          family: 'Biryani', Helvetica, sans-serif;
          weight: 600;
        }
        text: {
          decoration: none;
          transform: uppercase;
        }
        padding: 0;
        transition: padding 200ms ease-in-out 200ms;
      }
    }
    &.open {
      .nav-links {
        opacity: 1;
        padding-top: 16px;
        font-size: 18px;
        padding: 8px 0;
        transition: font-size 200ms ease-in-out,
                    padding 200ms ease-in-out,
                    margin 200ms ease-in-out,
                    opacity 200ms ease-in-out 200ms;
        a {
          padding: 8px 0;
          transition: padding 200ms ease-in-out;
        }
      }
    }
  }
}

// nav media queries - larger screens
@media only screen and (min-width: 768px) {
  .mobile-menu{
    display: none;
  }
  .nav-bar {
    .nav-header {
      float: left;
    }
    .nav-body {
      float: right;
      .nav-links {
        transition: none;
        opacity: 1;
        font-size: 18px;
        padding: 8px 0;
        margin-top: 8px;
        li {
          display: inline-block;
          &:last-child a {
            padding-right: 0;
          }
        }
        a {
          // font-size: 18px;
          padding: 0 16px;
        }
      }
    }
  }
}

// ############

.section {
  padding: 36px 0;
  position: relative;
  color: white;
  h1, h2, h3 {
    color: white;
  }
  &:nth-child(odd) {
    background-color: white;
    color: $dark-gray;
    h1 {
      color: $main-color;
    }
  }
}

// ########################
// about section
// ########################

.profile-info {
  margin: 0;
  figcaption a {
    &:first-child {
      margin-top: 24px;
    }
    margin-top: 16px;
    text-align: center;
    display: block;
    svg {
      width: 128px;
    }
  }
}

.avatar {
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
  box-shadow: 3px 3px 0px darken($main-color, 15%);
  transition: all 200ms ease-in-out;
  &:hover {
    box-shadow: 3px 5px 3px darken($main-color, 10%);
  }
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.isFixed {
  position: fixed;
  top: 0px;
  width: 100%;
}

// ########################
// skills section
// ########################

.skills-card {
  padding: 16px;
  border-radius: .5em;
  background-color: white;
  box-shadow: 0px 0px 20px -6px transparentize($dark-gray, .5);
  h3, h6 {
    text-align: center;
  }
  h3 {
    margin-bottom: 0;
    color: $light-gray;
  }
  h6 {
    color: $main-color;
    margin: 0;
    font-size: 1rem;
  }
  h5 {
    margin-bottom: 0;
    &:first-child {
      margin-top: 16px;
    }
  }
  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    span {
      display: inline-block;
      background-color: $light-gray;
      width: 1.2em;
      height: 1.2em;
      &.filled {
        background-color: $main-color;
      }
    }
  }
}

// ########################
// work section
// ########################

#work { // provide some stability for samples floating
  padding-bottom: 0px;
  p {
    font-weight: 300;
  }
  .sample {
    position: relative;
    width: 100%;
    z-index: 2;
  }
  .sample-image {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: transparentize($main-color, .2);
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 312px;
    background: {
      size: cover;
      position: top center;
    }
    filter: blur(5px);
  }
  .sample-info {
    text-align: center;
    padding: 2rem 3rem;
    width: 100%;
    height: 312px;
    position: relative;
  }
  .preview-links {
    font: {
      size: 16px;
      family: "Assistant", Helvetica, sans-serif;
      weight: 700;
    }
    a {
      display: inline-block;
      color: white;
      text-decoration: none;
      text-align: center;
      &:first-child {
        margin-right: 24px;
      }
    }
    svg {
      width: 40px;
    }
    span {
      text-transform: uppercase;
      display: block;
      margin-top: -8px;
    }
  }
  // ::after #work
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (min-width: 750px) {
    .sample {
      float: left;
      width: 50%;
      // hover effects
      &:hover {
        z-index: 1;
        box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
        .sample-image {
          &::before {
            opacity: 1;
          }
          filter: blur(5px);
        }
        .sample-info {
          opacity: 1;
          margin-top: 0px;
          transition: all 200ms ease-in-out 200ms;
        }
      }
    }
    // before hover
    .sample-image {
      &::before {
        opacity: 0;
        transition: all 200ms ease-in-out;
      }
      filter: none;
      transition: all 200ms ease-in-out;
    }
    .sample-info {
      // margin-top: -50px;
      opacity: 0;
      transition: all 100ms ease-in-out;
    }
  }
  @media screen and (min-width: 1104px) {
    .sample {
      width: 33.3333%;
    }
  }
}


// ########################
// tech & tools section
// ########################
#tools {
  position: relative;
  z-index: 2;
  .row .mobile-full {
    margin-left: -2rem;
    margin-right: -2rem;
    @media screen and (min-width: 400px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

}
.tool-belt-window {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; // iOS
}

.tool-belt {
  width: 1600px;
}

.tool {
  margin: 0 8px;
  width: 120px;
  display: inline-block;
  &:first-child {
    margin-left: 0;
  }
}

// ########################
// footer
// ########################

footer {
  background-color: $dark-gray;
  height: 96px;
  color: white;
}
