// imported into 'skeleton/loader'

// Grid overrides
$grid-max-width: 1170px;
$base-gutter-width: 16px; // The space between columns

// fonts
$font-family: "Roboto Slab", Helvetica, Arial, sans-serif; // default fonts
$heading-family: $font-family; // default heading (h1-h6) font

